<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT membersPage ANY>
<!ATTLIST membersPage id ID #REQUIRED>
<!ELEMENT logIn ANY>
<!ATTLIST logIn id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT projectOverview ANY>
<!ATTLIST projectOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1116" key="61b9d848-28b7-40d8-a29a-dd9f4159d4c2" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2019-02-15T08:17:51" updateDate="2019-03-22T11:10:49" nodeName="HomePage" urlName="homepage" path="-1,1116" isDoc="" nodeType="1090" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1063" nodeTypeAlias="homePage" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Aarhus web developer group]]></siteTitle>
    <banner><![CDATA[umb://media/41e52adc3bec4b1aa387929e59e47119]]></banner>
    <mainContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor finibus nunc, rutrum auctor mauris suscipit eget. Proin et nunc arcu. Nulla nec rutrum purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin vel ante id lectus molestie facilisis nec nec libero. Aliquam posuere diam tellus, non facilisis turpis dapibus vel. In vulputate, felis id condimentum blandit, purus ligula vulputate dolor, et efficitur ipsum ante quis ligula. Sed nec libero ut magna consectetur pellentesque in vel mauris. Phasellus condimentum enim ullamcorper venenatis porttitor. Pellentesque eget nibh lacus. Nulla bibendum nulla est, eget dictum est mollis et. Quisque ac consequat ante, in aliquet lorem. Duis dignissim pharetra erat. Vestibulum a nisl libero. Vivamus congue dui eu ullamcorper ornare. Etiam venenatis augue non consequat mattis.</p>
<p>Pellentesque auctor tristique sapien. Vivamus nisl massa, eleifend et nibh eu, iaculis aliquet enim. Vestibulum ac venenatis justo, eget lobortis ante. Aenean id risus blandit, eleifend justo ut, sollicitudin sapien. Suspendisse potenti. Etiam eu ex consectetur, egestas mi ac, tincidunt est. Curabitur ac nisi nec elit commodo laoreet. Cras cursus pretium quam, eu tempus nibh porta cursus. Pellentesque ullamcorper fermentum fringilla. Nullam quam ligula, vestibulum dictum nibh eget, iaculis porttitor orci. Aliquam elit mi, pretium vitae urna ac, dignissim gravida neque. Ut suscipit feugiat aliquet.</p>]]></mainContent>
    <articlesOverview id="1119" key="1fbb2500-afc3-49ea-9875-ce96328a83ec" parentID="1116" level="2" creatorID="0" sortOrder="0" createDate="2019-02-15T08:31:13" updateDate="2019-03-22T09:24:30" nodeName="News" urlName="news" path="-1,1116,1119" isDoc="" nodeType="1096" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1071" nodeTypeAlias="articlesOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[About Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>ghgehee</p>]]></articlesBodyText>
      <articlesItem id="1120" key="d7cca02b-8390-40b6-bb07-633758ad3d1d" parentID="1119" level="3" creatorID="0" sortOrder="0" createDate="2019-02-15T08:31:47" updateDate="2019-03-22T09:27:00" nodeName="Articles Item" urlName="articles-item" path="-1,1116,1119,1120" isDoc="" nodeType="1099" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1075" nodeTypeAlias="articlesItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Latest news from the developers]]></articleTitle>
        <articleContent><![CDATA[<p>We are hiring and looking for new interns. Look at the member's site to see who are you going to work with</p>]]></articleContent>
      </articlesItem>
      <articlesItem id="1107" key="036032cc-6deb-4b7b-b91e-99a0cc19676f" parentID="1119" level="3" creatorID="0" sortOrder="1" createDate="2019-02-14T10:48:40" updateDate="2019-03-22T09:29:16" nodeName="Office meetings" urlName="office-meetings" path="-1,1116,1119,1107" isDoc="" nodeType="1099" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1075" nodeTypeAlias="articlesItem" isPublished="true">
        <metaKeywords><![CDATA[See about our culture and our office meetings]]></metaKeywords>
        <metaDescription><![CDATA[See about our culture and our office meetings]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[New office meetings]]></articleTitle>
        <articleContent><![CDATA[<p class="story-body__introduction">See about our culture and our office meetings! This is the core of our happiness in the office</p>]]></articleContent>
      </articlesItem>
      <articlesItem id="1109" key="ee057f02-0c13-4e90-90f3-a96182a61266" parentID="1119" level="3" creatorID="0" sortOrder="2" createDate="2019-02-14T11:06:52" updateDate="2019-03-22T09:34:36" nodeName="New cooperations" urlName="new-cooperations" path="-1,1116,1119,1109" isDoc="" nodeType="1099" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1075" nodeTypeAlias="articlesItem" isPublished="true">
        <metaKeywords><![CDATA[New cooperation]]></metaKeywords>
        <metaDescription><![CDATA[New cooperation]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[New cooperations]]></articleTitle>
        <articleContent><![CDATA[<p>We are cooperating with new businesses around Aarhus area but also internationally. Have a look at our new project and see the cooperation </p>]]></articleContent>
      </articlesItem>
    </articlesOverview>
    <projectOverview id="1121" key="73292190-0ac4-4d97-ac82-8e6f9df951f0" parentID="1116" level="2" creatorID="0" sortOrder="2" createDate="2019-02-15T08:44:11" updateDate="2019-02-20T10:15:51" nodeName="Projects" urlName="projects" path="-1,1116,1121" isDoc="" nodeType="1102" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1079" nodeTypeAlias="projectOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[project overview]]></projectsTitle>
      <projectItem id="1110" key="652decf7-e395-4376-9272-6811092fc310" parentID="1121" level="3" creatorID="0" sortOrder="1" createDate="2019-02-14T11:08:32" updateDate="2019-03-15T08:35:41" nodeName="The Current Museum: Salon on Artificial Intelligence" urlName="the-current-museum-salon-on-artificial-intelligence" path="-1,1116,1121,1110" isDoc="" nodeType="1106" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1084" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[A museum, AI, Salon]]></metaKeywords>
        <metaDescription><![CDATA[The Current Museum: Salon on Artificial Intelligence]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Investigate AI through the lens of art during our next participatory salon exhibition, and vote on the artwork we buy for<span> </span><a rel="noopener" href="http://current.mu/collection" target="_blank">The Current’s non-profit museum collection</a>. </p>
<h1 id="h:we-take-care-of-the" class="page-anchor">We take care of the preservation, you get to enjoy the works in your home, and the artists benefit from our collective support. </h1>
<p>For the past year, The Current Museum has brought together founders, artists, technologists, curators, young professionals, and new collectors to get acquainted with boundary-pushing media artworks — from emerging artists as well as established pioneers — at participatory salon exhibitions curated around topics like identity, digital permanence, fake news, and artificial intelligence. We want you to help build our collection!</p>]]></projectDescription>
        <projectStatus>74</projectStatus>
        <projectTitle><![CDATA[The Current Museum: Salon on Artificial Intelligence]]></projectTitle>
      </projectItem>
      <projectItem id="1111" key="71c3dba6-6c79-4005-a3b6-aed55940d506" parentID="1121" level="3" creatorID="0" sortOrder="2" createDate="2019-02-14T11:09:55" updateDate="2019-03-22T09:57:32" nodeName="Strange Friends: a postcard book" urlName="strange-friends-a-postcard-book" path="-1,1116,1121,1111" isDoc="" nodeType="1106" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1084" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[postcards, book, illustrations]]></metaKeywords>
        <metaDescription><![CDATA[Strange Friends: a postcard book]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Hi. I’m </span>Shing Yin Khor<span>, and for the past several years, I’ve been painting strange and wonderful creature friends. They appear in my webcomic, </span>Otherworld Science<span>, in gallery shows across the United States, and at several conventions and events annually. I’ve often been asked to compile them into an art book, and I finally have!</span></p>]]></projectDescription>
        <projectStatus>73</projectStatus>
        <projectTitle><![CDATA[Strange Friends: a postcard book]]></projectTitle>
      </projectItem>
      <projectItem id="1112" key="8ec2e911-3d5d-4269-8bf2-8df3df6f9e0f" parentID="1121" level="3" creatorID="0" sortOrder="3" createDate="2019-02-14T11:13:25" updateDate="2019-03-15T08:53:59" nodeName="Carbon 2185 | A Cyberpunk RPG" urlName="carbon-2185-a-cyberpunk-rpg" path="-1,1116,1121,1112" isDoc="" nodeType="1106" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1084" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Cyberpunk, RPG, Games]]></metaKeywords>
        <metaDescription><![CDATA[Carbon 2185 | A Cyberpunk RPG]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Play as a Cyberpunk, a rebel refusing to live life by the rules of the oppressive megacorporations that rule San Francisco in this high action tabletop roleplaying game by Dragon Turtle Games. Carbon 2185 gives you the chance to play in the cyberpunk worlds you've seen in movies, television shows, and video games. The Core Rulebook is the only thing you need to run and play hundreds of hours of games in the world of Carbon 2185, and to enjoy our upcoming line of adventure modules, heists, and tales of corporate espionage using this innovative game system.</span></p>]]></projectDescription>
        <projectStatus>74</projectStatus>
        <projectTitle><![CDATA[Carbon 2185 | A Cyberpunk RPG]]></projectTitle>
      </projectItem>
      <projectItem id="1153" key="fffc74b1-62c5-4c54-98b4-e9ea0e350adb" parentID="1121" level="3" creatorID="0" sortOrder="4" createDate="2019-03-03T10:07:51" updateDate="2019-03-22T09:37:01" nodeName="Member project" urlName="member-project" path="-1,1116,1121,1153" isDoc="" nodeType="1106" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1084" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>This project is only internal and only for our member. Something we are doing in the office. We are very excited about it!</p>]]></projectDescription>
        <projectStatus>74</projectStatus>
        <projectTitle><![CDATA[Project for members]]></projectTitle>
      </projectItem>
    </projectOverview>
    <aboutUs id="1123" key="695d3536-6bc5-4b5b-ad1e-67f31dee3f6c" parentID="1116" level="2" creatorID="0" sortOrder="3" createDate="2019-02-15T11:02:14" updateDate="2019-03-22T09:45:02" nodeName="About us" urlName="about-us" path="-1,1116,1123" isDoc="" nodeType="1118" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1114" nodeTypeAlias="aboutUs" isPublished="true">
      <threeRows><![CDATA[{
  "name": "Full width",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Aarhus web development group",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6dde56e4-ba66-68ab-d4a5-c0a155174452"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 2163,
                    "udi": "umb://media/33a88a08eddb4da694f0ad073bf37af5",
                    "image": "/media/1006/20180207_161215.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "308685ac-2118-ee73-9247-8ea692fd0ead",
          "active": false
        },
        {
          "name": "Three sections, visions, people skills",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>people</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>vision statement</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Mission",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Mission statement</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "6a106de7-1919-8dd7-3bfe-394d2850dc0e",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></threeRows>
    </aboutUs>
    <siteMap id="1126" key="2bbd9f1c-9f39-4354-964c-78c054e4523b" parentID="1116" level="2" creatorID="0" sortOrder="4" createDate="2019-02-16T10:30:08" updateDate="2019-02-16T10:30:08" nodeName="Sitemap" urlName="sitemap" path="-1,1116,1126" isDoc="" nodeType="1125" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1124" nodeTypeAlias="siteMap" isPublished="true">
      <metaKeywords><![CDATA[Sitemap - partial view macro]]></metaKeywords>
      <metaDescription><![CDATA[Partial view macro - site map]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </siteMap>
    <contactUs id="1129" key="25b6d463-93fc-44f4-892c-0e51a942e616" parentID="1116" level="2" creatorID="0" sortOrder="5" createDate="2019-02-22T09:21:33" updateDate="2019-02-22T09:21:33" nodeName="Contact us" urlName="contact-us" path="-1,1116,1129" isDoc="" nodeType="1128" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1127" nodeTypeAlias="contactUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactUs>
    <logIn id="1152" key="dcb5763b-627e-4a7f-8061-b8c855aea464" parentID="1116" level="2" creatorID="0" sortOrder="6" createDate="2019-03-01T11:29:26" updateDate="2019-03-01T11:29:26" nodeName="LogIn" urlName="login" path="-1,1116,1152" isDoc="" nodeType="1151" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1150" nodeTypeAlias="logIn" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </logIn>
    <membersPage id="1162" key="2f5792a2-e35d-4c96-8f94-803fe1ddc2aa" parentID="1116" level="2" creatorID="0" sortOrder="7" createDate="2019-03-15T11:30:07" updateDate="2019-03-22T09:39:23" nodeName="Members" urlName="members" path="-1,1116,1162" isDoc="" nodeType="1157" creatorName="Albína Mrázová" writerName="Albína Mrázová" writerID="0" template="1156" nodeTypeAlias="membersPage" isPublished="true">
      <metaKeywords><![CDATA[this is the site of our members]]></metaKeywords>
      <metaDescription><![CDATA[this is the site of our members]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <headline><![CDATA[Our team]]></headline>
    </membersPage>
  </homePage>
</root>